@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --clr-almost-white: hsl(0, 0%, 98%);;
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-almost-black: hsl(0, 0%, 8%);
    --ff: 'Epilogue', sans-serif;
    --transition: 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0vw;
    font-size: 18px;
    background-color: var(--clr-almost-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    color: var(--clr-almost-black);
    font-weight: 500;
}

h1 {
    font-weight: 700;
    font-size: 2m;
}

button {
    font-family: var(--ff);
}

.header {
    margin: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    background-color: inherit;
    border: none;
}

.hero-container {
    width: 100vw;
    height: 33.5vh;
    background-image: url(images/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    text-align: center;
    margin: 8vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main span {
    line-height: 1.6;
    font-size: 0.9em;
    color: var(--clr-medium-gray);
}

.learn-btn {
    background-color: var(--clr-almost-black);
    color: var(--clr-almost-white);
    margin: 8vw 0vw 0vw 0vw;
    padding: 4vw 6vw;
    font-family: var(--ff);
    font-size: 1em;
    border-radius: 4vw;
    border: none;
    width: auto;
    cursor: pointer;
    transition: var(--transition);
}

.learn-btn:hover {
    border: 1px solid var(--clr-almost-black);
    background-color: inherit;
    color: var(--clr-almost-black);
    transition: var(--transition);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vw;
}

.client {
    width: 20vw;
    object-fit:contain;
}

/* MENU STYLES START*/
.menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(0.5);
    color: var(--clr-medium-gray);
    transition: 1s linear;
    display: none;
}

.menu-content {
    background-color: var(--clr-almost-white);
    height: 100vh;
    width: 60vw;
    margin: 0vw 0vw 0vw 40vw;
    display: flex;
    flex-direction: column;
}

.menu-content button {
    font-size: 1em;
    color: var(--clr-medium-gray)
}

.close-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4vw
}

.close-btn {
    background-color: inherit;
    border: none;
}

.menu-expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vw 6vw
}

.menu-expand {
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0vw;
    margin: 3vw 0vw;
    width: 100%;
    cursor: pointer;
    transition: var(--transition);
}

.menu-expand:hover {
    color: var(--clr-almost-black);
}

.menu-expand img {
    margin: 0vw 0vw 0vw 4vw;
}

.down-icon {
    display: flex;
}

.up-icon {
    display: none;
}

.menu-expand-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    display: none;
}

.menu-expand-text-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 2vw 0vw 2vw 4vw;
    width: 100%;
    cursor: pointer;
}

.menu-expand-text-container img {
    margin: 0vw 3vw 0vw 0vw;
}

.menu-content-content {
    margin: 3vw 6vw;
    cursor: pointer;
    transition: var(--transition);
}

.menu-content-content:hover, .register span:hover {
    color: var(--clr-almost-black);
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register span {
    margin: 3vw 0vw;
    width: 100%;
    text-align: center;
    transition: var(--transition);
}

.register-btn {
    padding: 2vw 12vw;
    background-color: inherit;
    border: 1px solid var(--clr-medium-gray);
    border-radius: 3vw;
    margin: 2vw 0vw;
    cursor: pointer;
    transition: var(--transition);
}

.register-btn:hover {
    border: 1px solid var(--clr-almost-black);
    color: var(--clr-almost-black)
}

/* Menu toggle styles*/
.menu.open {
    display: flex;
}

.down .down-icon {
    display: none;
}

.down .up-icon {
    display: flex
}

.down .menu-expand-text {
    display: flex;
}
/* MENU STYLES END */